{% extends "user/student_base_individual.html" %}
{% block page %}
<head>
        <title>Maths on Mars</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
		<meta name="keywords" content="maths learning difficulty, primary school maths, number basics">
        <meta name="description" content="Maths on Mars provides engaging online problem solving strategies and practice for 
	children who have not developed a strong number sense.">
        <meta name="author" content="Maths on Mars Team">
		<meta name="language" content="English"/>

  		<!-- Main Style Sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app/flatty.css') }}" />
  		<link rel="stylesheet" href="{{ url_for('static', filename='css/app/buttons.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app/activity.css') }}" />

  		<!-- Fonts from Google Fonts -->
	    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>-->
	
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <!--script src="http://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.2.0/snap.svg-min.js"></script>-->
	    <![endif]-->


    </head>
    
<body class="homepage" data-spy="scroll" data-target=".navbar">
  <!--[if lte IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->



  <header role="banner">
      <div class="navbar navbar-custom navbar-fixed-top">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('appl_view.student_home') }}"><span class="glyphicon glyphicon-home"></span> My home</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('appl_view.level') }}">Activities</a></li>
                  <li><a href="{{ url_for('appl_view.methods') }}">Methods</a></li>
                  <li>
                  <a href="{{ url_for('appl_view.profile') }}"><img src="{{ url_for('static', filename= avatar_filename )}}"  alt="" style="width:20px"> Profile</a></li>
              </ul>
	                <ul class="nav navbar-nav navbar-right ">
	                	<li><a href="{{ url_for('auth_view.logout') }}"><span class="glyphicon glyphicon-log-out"> Logout</a></li>
					</ul>
          </div><!--/.nav-collapse -->
      </div>
  </header>

<div class="padfifty">
	<div class="container">
		<h1>Methods</h1>
		<br>
		<br>
		<h3>Here is where we are going to explain how to do each activity.</h3>
	</div>
	</div>
</body>
{% endblock %}
